/*******COLORS*******/
/* purple #31081F
clear #F0FFBB
pink #FFA5A5
blue #5BC0EB
yellow #FDE74C
green #9BC53D */

body {
    margin: 0 auto;
}

.container {
    background-color: #f0ffbb;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
}

h1 {
    font-family: 'Humming', sans-serif;
    font-size: 3.5em;
    font-weight: 100;
    color: #31081f;
    margin: 5px;
    margin-top: 0;
}

h2 {
    font-family: 'Nunito';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4em;
    margin: 0;
}

p {
    font-family: 'Nunito';
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}

button {
    font-family: 'Nunito';
    text-transform: uppercase;
    font-size: 1.2rem;
}

main img {
    width: 100%;
}

/*NAV ALL MOBILE*/

.navlist{
    display: inline;
    font-family: 'Nunito';
    text-transform: uppercase;
}

.navlist li {
    background-color: white;
    color: #31081f;
    text-align: center;
}

/*LoVe HAte*/

.navlist a,
.navlist a:link,
.navlist a:visited {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight: 700;
    color: #31081f;
}

.navlist a:hover,
.navlist a:focus,
.navlist a.home {
    background-color: #31081f;
    padding: 10px;
    color: #ffa5a5;
}

/*ABOUT US SECTION MOBILE*/

.aboutus {
    background-color: white;
    margin: 20px 50px 20px 50px;
    padding: 20px;
}

/*POST HOME MOBILE*/

.bloghome {
    background-color: white;
    margin: 20px 50px 20px 50px;
    padding: 20px;
}

.read {
    color: #5bc0eb;
    background-color: #31081f;
    padding: 5px 10px;
}

.card1,
.card2,
.card3 {
    margin-bottom: 20px;
}

/*FOOTER ALL*/

footer {
    font-family: 'Nunito';
    font-size: 14px;
    background-color: #31081f;
    margin: 20px 50px 20px 50px;
    padding: 20px;
    color: #9bc53d;
    display: flex;
}