/*******COLORS*******/
/* purple #31081F
clear #F0FFBB
pink #FFA5A5
blue #5BC0EB
yellow #FDE74C
green #9BC53D */

body {
    max-width: 1500px;
    margin: 0 auto;
}

.container {
    background-color: #f0ffbb;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

h1 {
    font-family: 'Humming', sans-serif;
    font-size: 3.8em;
}

h2 {
    font-family: 'Nunito';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
}

p {
    font-family: 'Nunito';
}

button {
    font-family: 'Nunito';
    text-transform: uppercase;
}

/*NAV ALL*/

.navlist {
    display: flex;
    font-family: 'Nunito';
    text-transform: uppercase;
}

nav {
    background-color: white;
}

.navlist li {
    color: #31081f;
    text-align: center;
}

/*LoVe HAte*/

.navlist a,
.navlist a:link,
.navlist a:visited {
    display: block;
    padding: 20px;
    text-decoration: none;
    font-weight: 700;
    color: #31081f;
}

.navlist a:hover,
.navlist a:focus,
.navlist a.home {
    background-color: #31081f;
    padding: 20px;
    color: #ffa5a5;
}

/*ABOUT US SECTION*/

.aboutus {
    background-color: white;
    margin: 20px 50px 20px 50px;
    padding: 20px;
}

/*POST HOME*/

.bloghome {
    background-color: white;
    margin: 20px 50px 20px 50px;
    padding: 20px;
}

.read {
    color: #5bc0eb;
    background-color: #31081f;
    padding: 5px;
}

.card1,
.card2,
.card3 {
    margin-bottom: 20px;
}

.cards img {
    float: left;
    padding: 10px;
}

/*FOOTER ALL*/

footer {
    font-family: 'Nunito';
    background-color: #31081f;
    margin: 20px 50px 20px 50px;
    padding: 20px;
    color: #9bc53d;
    display: flex;
}